<h1>WebSocket Demo</h1></br>
<input id="mess-cont" placeholder="type message here"/><button id="mess-button" onclick="sendMessage();">Send Message</button>
</br>
<div id="message-store">
</div>

<style>
  .messageText {
    color: red;
  }
</style>

<script src="../js/jQuery/jquery-2.1.3.js"></script>
<script>

var conn = new WebSocket('ws://www.pixelpush.us:8080');
var messageStore = $('#message-store');

$(function(){

  conn.onopen = function(e) {
      console.log("Connection established!");
  };

  conn.onmessage = function(e) {
      var message = new Date().toLocaleString() + ": <span id='messageText'>" + e.data + "</span></br>";
      messageStore.append(message);
  };

});

function sendMessage(){

    conn.send($('#mess-cont').val());
  var message = new Date().toLocaleString() + ": <span id='messageText'>" + $('#mess-cont').val() + "</span></br>";
  messageStore.append(message);
  $('#mess-cont').val('');
}
</script>
