<h1>WebSocket Demo</h1></br>
<input placeholder="type message here"/><button id="mess-button" onclick="sendMessage();">Send Message</button>

<script src="../js/jQuery/jquery-2.1.3.js"></script>
<script>
$(function(){
  var conn = new WebSocket('ws://www.pixelpush.us:8080');
  conn.onopen = function(e) {
      console.log("Connection established!");
  };

  conn.onmessage = function(e) {
      console.log(e.data);
  };

  function sendMessage(){
    if($('#mess-button').val().length == 0) {
      return false;
    }

    conn.send($('#mess-button').val());
  }

});
</script>
