html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  /*max-height: 100%;
  min-height: 100%;*/
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

body {
    background-color: red;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 100%;
    /*max-height: 100%;
    min-height: 100%;*/
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.settingsBody {
    background-color: red;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
    height: 100%;
}

.infoBody {
    background-color: red;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
}

#ppDiv, #infoDiv, #settingsDiv {
	margin-bottom:10px;

}

.bgBlueTransition {
    background-color: blue;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgRedTransition {
    background-color: red;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgYellowTransition {
    background-color: yellow;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.icon-unclicked {
	-webkit-animation:spin-reverse .5s linear;
    -moz-animation:spin-reverse .5s linear;
    animation:spin-reverse .5s linear;
}

.icon-clicked {
	-webkit-animation:spin .5s linear;
    -moz-animation:spin .5s linear;
    animation:spin .5s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-reverse { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


#ppIcon {
	margin-top:10px;
}

#ppFontLogo {
	display:none;

	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.home-screen-labels {
	color:white;
    font-size: 25px;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

#lowerButtonsDiv {
	text-align:center;
	width:100%;

}

#appInfo {
	color:white;
	font-family: monaco,Consolas,Lucida Console,monospace;
	border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#appCredits {
	color:white;
	font-family: monaco,Consolas,Lucida Console,monospace;
	font-size:small;
}

/* Tries to center the drop down boxes for seat selection */
#innerSectionDiv {
	display:none;
    width: 50%;
	margin-bottom:100px;
	margin-left:auto;
	margin-right:auto;
    text-align: center;
    vertical-align: top;
}

#settingsDropDownDiv {
	height: 100%;
  width: 100%;
  text-align: center;
}

#sectionText, #rowText, #seatText {
    color: white;
    display: block;
    width: 100%;
    font-size: 36px;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
}

.innerDDDiv {
	width: 300px;
	height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
	margin-left:auto;
	margin-right:auto;
}

#settingsTitle {
    color: white;
    display: block;
    font-size: 72px;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
    line-height: 1;
}

#settingsDetails {
    color: white;
    display: block;
    font-size: 20px;
	margin-bottom:50px;
    font-family: monaco,Consolas,Lucida Console,monospace;
	font-style:italic;
    text-align: center;
    line-height: 1;
}

#settingsTitleDiv {
  height: 20px;
}

#tableGridDiv {
	margin-left:auto;
	margin-right:auto;
	width: 50%;
	margin-bottom: 25px;
}



table {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    height: 300px;
	border-radius:10px;
}

td {
    border: 1px solid black;
	border-radius:10px;
}

th {
    border: 1px solid black;
	border-radius:10px;
}



.styleSelect select {
  background: transparent;
  width: 320px;
  padding: 5px;
  font-size: 24px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 100px;
  -webkit-appearance: none;
  font-family: monaco,Consolas,Lucida Console,monospace;

  width: 100%;
  text-align: center;
  padding-left: 14%;
}

.styleSelect {
  width: 300px;
  height: 100px;
  overflow: hidden;
  border: 2px solid #FFF;
  border-radius:10px;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 240px;
}

#sectionDD, #rowDD, #seatDD, option {
	color:white;
	background-color:black;

}



#backButton {
  animation-name: horizFloating;
  -webkit-animation-name: horizFloating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes horizFloating {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes horizFloating {
  0% {
    -webkit-transform: translateX(0%);
  }
  50% {
    -webkit-transform: translateX(8%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}


#home-arrow {
	display:block;
	margin-left:auto;
	margin-right:auto;

	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}


#pixelTable {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
	border: 1px solid black;
  border-collapse: collapse;
	background:transparent;
}

#confirm-reset-div {
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

#reset-seat-button, #confirm-seat-button {
	display:inline-block;
	background: black;
	color:white;
	width: 280px;
    height: 100px;
	border-style: solid;
	border-color:white;
    border-width: 2px;
	border-radius:10px;
    text-align: center;
    font-size: 24px;
    font-family: monaco,Consolas,Lucida Console,monospace;
	margin-bottom:30px;
}

.grid-block:hover {
  background-color: #B80000;
}
