body {
    background-color: red;
}

.infoBody {
    background-color: red;
    /*background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;*/
}

.settingsBody {
    background-color: red;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
}

.bgBlueTransition {
    background-color: blue;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgRedTransition {
    background-color: red;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgYellowTransition {
    background-color: yellow;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

#ppIcon {

}

/* Centers the drop down boxes for seat selection */
#innerSectionDiv {
	display:none;
    width: 40%;
    margin-left: 15px;
    text-align: center;
    vertical-align: top;
}

#settingsDropDownDiv {
	height: 100%;
    width: 100%;
}
	
#sectionText, #rowText, #seatText {
    color: white;
    display: block;
    width: 100%;
    font-size: 36px;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
}

.innerDDDiv {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#settingsTitle {
    color: white;
    display: block;
    width: 100%;
    font-size: 72px;
    font-family: monaco, Consolas, Lucida Console, monospace;
    text-align: center;
}

#tableGridDiv {
    width: 50%;
}

table {
    background-color: white;
    width: 100%;    
    border: 1px solid black;
}

td {
    border: 1px solid black;
    height: 35px;
}

th {
    border: 1px solid black;
    width: 25px;
}