body {
    background-color: red;
}

.settingsBody {
    background-color: red;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
}

.infoBody {
    background-color: red;
    background: -webkit-linear-gradient(black, gray);
    background: -o-linear-gradient(black, gray);
    background: -moz-linear-gradient(black, gray);
    background: linear-gradient(black, gray);
    background-repeat: no-repeat;
}

#ppDiv, #infoDiv, #settingsDiv {
	margin-bottom:10px;

}

.bgBlueTransition {
    background-color: blue;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgRedTransition {
    background-color: red;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.bgYellowTransition {
    background-color: yellow;
    -webkit-transition: background-color 7500ms linear;
    -moz-transition: background-color 7500ms linear;
    -o-transition: background-color 7500ms linear;
    -ms-transition: background-color 7500ms linear;
    transition: background-color 7500ms linear;
}

.icon-unclicked {

}

.icon-clicked {
	
	-webkit-animation:spin .5s linear;
    -moz-animation:spin .5s linear;
    animation:spin .5s linear;

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#ppFontLogo {
	display:none;

	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.home-screen-labels {
	color:white;
    font-size: 25px;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

#lowerButtonsDiv {
	text-align:center;
	width:100%;

}

#appInfo {
	color:white;
	font-family: monaco,Consolas,Lucida Console,monospace;
}

/* Centers the drop down boxes for seat selection */
#innerSectionDiv {
	display:none;
    width: 30%;
    margin-left: 100px;
    text-align: center;
    vertical-align: top;
}

#settingsDropDownDiv {
	height: 100%;
    width: 100%;
    text-align: center;
}

#sectionText, #rowText, #seatText {
    color: white;
    display: block;
    width: 100%;
    font-size: 36px;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
}

.innerDDDiv {
    height: 34px;
    width: 280px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#settingsTitle {
    color: white;
    display: block;
    font-size: 72px;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
}

#tableGridDiv {
    width: 50%;
}

table {
    background-color: white;
    width: 100%;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    height: 35px;
}

th {
    border: 1px solid black;
    width: 25px;
}

.styleSelect select {
  background: transparent;
  width: 280px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: #000;
}

.styleSelect {
  width: 260px;
  height: 34px;
  overflow: hidden;
  border: 2px solid #FFF;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 240px;
}

select {
    width: 280px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

#sectionDD, #rowDD, #seatDD, option {
	color:white;
	background-color:black;
}

#backIcon {
}
